<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
    <link rel="stylesheet" th:href="@{/course.css}" />
</head>
<body>

<div class="container">
    <div align="center">
        <h1 class="course_title">Create new student</h1>
        <br>
        <form action="#" th:action="@{student/save}" th:object="${student}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>First Name</td>
                    <td><input type="text" th:field="*{firstName}"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" th:field="*{lastName}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" th:field="*{email}"></td>
                </tr>
                <tr>
                    <td>Study Format</td>
                    <td><input type="text" th:field="*{studyFormat}"></td>
                </tr>
                <tr>
                    <td>Group</td>
                    <td><input type="text" th:field="*{group}"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>