<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit course</title>
    <link rel="stylesheet" th:href="@{/course.css}" />
</head>
<body>

<div class="container">
    <div align="center">
        <h1 class="course_title">Edit course</h1>
        <br>
        <form action="#" th:action="@{/course/edit}" th:object="${course1}" th:method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <!--<td>Course Id</td>-->
                    <td><input type="text" th:field="*{id}" hidden readonly="readonly"></td>
                </tr>
                <tr>
                    <td>Course Name</td>
                    <td><input type="text" th:field="*{courseName}"></td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td><input type="text" th:field="*{duration}"></td>
                </tr>
                <tr>
                    <td>Company ID</td>
                    <td><input type="text" th:field="*{company}"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>